# Data pre-processing 

It refers to the transformation applied to data before feeding into the algorithm.
Scikit learn library has full built-in functions for data pre-processing. Besides Scikit learn, we will also use Numpy and Pandas as supporting libraries for data manipulation

The things that we will learn in this session are:

1. Loading data set
2. Handling missing values
3. Scaling 
4. Binning
5. Encoding

# Loading data set

In [70]:
import pandas as pd

My_dataset = pd.read_csv('Dataset.csv')

In [71]:
print(My_dataset.size) # total numnber of elements present in the data set
print(My_dataset.shape) # no.rows x no. columns
print(My_dataset.ndim)  # data frame has 2 dimensions
print(My_dataset.dtypes) # To know data type of each feature

288
(24, 12)
2
Gender                object
Married               object
Time                  object
Dependents             int64
Education             object
Self_Employed         object
ApplicantIncome      float64
CoapplicantIncome    float64
LoanAmount             int64
Loan_Amount_Term     float64
Credit_History         int64
Property_Area         object
dtype: object

In [72]:
print(My_dataset)

    Gender Married      Time  Dependents     Education Self_Employed  \
0     Male      No   4:20 AM           0      Graduate            No
1     Male     Yes   4:21 AM           1      Graduate            No
2     Male     Yes   3:20 AM           0      Graduate            No
3     Male     Yes   4:20 AM           2      Graduate            No
4     Male     Yes   5:20 AM           0           NaN            No
5     Male     Yes   6:20 AM           3      Graduate            No
6     Male     Yes   7:20 AM           0      Graduate            No
7     Male     Yes   8:20 AM           2  Not Graduate            No
8     Male      No   9:20 AM           0  Not Graduate            No
9     Male     Yes  10:20 AM           0  Not Graduate            No
10    Male     Yes  11:20 AM           0      Graduate            No
11    Male     Yes  12:20 PM           2      Graduate            No
12    Male      No  13:20 PM           2      Graduate            No
13    Male     Yes  14:20 PM           0      Graduate            No
14  Female      No  16:20 PM           0      Graduate            No
15    Male     Yes   4:20 PM           2      Graduate            No
16    Male     Yes  17:20 PM           0      Graduate            No
17    Male     Yes  18:20 PM           1      Graduate            No
18    Male     Yes  17:20 PM           2      Graduate           Yes
19    Male     Yes  15:20 PM           1  Not Graduate            No
20    Male     Yes  20:20 PM           0      Graduate            No
21    Male     Yes  22:20 PM           2      Graduate            No
22    Male     Yes  20:20 PM           1      Graduate           Yes
23  Female     Yes  23:20 PM           0      Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0            4950.0                0.0         125             360.0
1            2882.0             1843.0         123             480.0
2            3000.0             3416.0          56             180.0
3            9703.0                0.0         112             360.0
4               NaN             2417.0         136             360.0
5            5250.0                0.0          94             360.0
6            4333.0             2451.0         110             360.0
7            6125.0             1625.0         187             480.0
8            2333.0             1451.0         102               NaN
9            1800.0             2934.0          93               NaN
10           3500.0             1667.0         114               NaN
11           8333.0             3167.0         165             360.0
12           4354.0                0.0         136             360.0
13           9328.0                0.0         188             180.0
14           7200.0                0.0         120             360.0
15           3800.0             3600.0         216             360.0
16           3593.0             4266.0         132             180.0
17           3417.0                NaN         186             360.0
18           3316.0             3500.0          88             360.0
19           3399.0             1640.0         111             180.0
20           2439.0             3333.0         129             360.0
21           6250.0             5654.0         188             180.0
22           1000.0             3022.0         110             360.0
23           4180.0             2306.0         182             360.0

    Credit_History Property_Area
0                1         Urban
1                1     Semiurban
2                1     Semiurban
3                1         Urban
4                1         Urban
5                1         Urban
6                1         Urban
7                1     Semiurban
8                0         Urban
9                0         Urban
10               1     Semiurban
11               1         Rural
12               1         Rural
13               1         Rural
14               1         Rural
15               0         Urban
16               0         Rural
17               1         Urban
18               1         Urban
19               1         Urban
20               1         Rural
21               1     Semiurban
22               1         Urban
23               1     Semiurban

# Dealing with missing values

In [73]:
print(My_dataset.isnull().sum()) # total number of missing values feature wise

Gender               0
Married              0
Time                 0
Dependents           0
Education            1
Self_Employed        0
ApplicantIncome      1
CoapplicantIncome    1
LoanAmount           0
Loan_Amount_Term     3
Credit_History       0
Property_Area        0
dtype: int64

# Imputing missing values in Numerical features

In [77]:
meanV= My_dataset['ApplicantIncome'].median()

My_dataset['ApplicantIncome'] = My_dataset['ApplicantIncome'].fillna(meanV)


meanV= My_dataset['CoapplicantIncome'].mean()

My_dataset['CoapplicantIncome'] = My_dataset['CoapplicantIncome'].fillna(meanV)

meanV= My_dataset['Loan_Amount_Term'].mean()

My_dataset['Loan_Amount_Term'] = My_dataset['Loan_Amount_Term'].fillna(meanV)

print(My_dataset)

    Gender Married      Time  Dependents     Education Self_Employed  \
0     Male      No   4:20 AM           0      Graduate            No
1     Male     Yes   4:21 AM           1      Graduate            No
2     Male     Yes   3:20 AM           0      Graduate            No
3     Male     Yes   4:20 AM           2      Graduate            No
4     Male     Yes   5:20 AM           0           NaN            No
5     Male     Yes   6:20 AM           3      Graduate            No
6     Male     Yes   7:20 AM           0      Graduate            No
7     Male     Yes   8:20 AM           2  Not Graduate            No
8     Male      No   9:20 AM           0  Not Graduate            No
9     Male     Yes  10:20 AM           0  Not Graduate            No
10    Male     Yes  11:20 AM           0      Graduate            No
11    Male     Yes  12:20 PM           2      Graduate            No
12    Male      No  13:20 PM           2      Graduate            No
13    Male     Yes  14:20 PM           0      Graduate            No
14  Female      No  16:20 PM           0      Graduate            No
15    Male     Yes   4:20 PM           2      Graduate            No
16    Male     Yes  17:20 PM           0      Graduate            No
17    Male     Yes  18:20 PM           1      Graduate            No
18    Male     Yes  17:20 PM           2      Graduate           Yes
19    Male     Yes  15:20 PM           1  Not Graduate            No
20    Male     Yes  20:20 PM           0      Graduate            No
21    Male     Yes  22:20 PM           2      Graduate            No
22    Male     Yes  20:20 PM           1      Graduate           Yes
23  Female     Yes  23:20 PM           0      Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0       4950.000000           0.000000         125        360.000000
1       2882.000000        1843.000000         123        480.000000
2       3000.000000        3416.000000          56        180.000000
3       9703.000000           0.000000         112        360.000000
4       4542.826087        2417.000000         136        360.000000
5       5250.000000           0.000000          94        360.000000
6       4333.000000        2451.000000         110        360.000000
7       6125.000000        1625.000000         187        480.000000
8       2333.000000        1451.000000         102        328.571429
9       1800.000000        2934.000000          93        328.571429
10      3500.000000        1667.000000         114        328.571429
11      8333.000000        3167.000000         165        360.000000
12      4354.000000           0.000000         136        360.000000
13      9328.000000           0.000000         188        180.000000
14      7200.000000           0.000000         120        360.000000
15      3800.000000        3600.000000         216        360.000000
16      3593.000000        4266.000000         132        180.000000
17      3417.000000        2099.652174         186        360.000000
18      3316.000000        3500.000000          88        360.000000
19      3399.000000        1640.000000         111        180.000000
20      2439.000000        3333.000000         129        360.000000
21      6250.000000        5654.000000         188        180.000000
22      1000.000000        3022.000000         110        360.000000
23      4180.000000        2306.000000         182        360.000000

    Credit_History Property_Area
0                1         Urban
1                1     Semiurban
2                1     Semiurban
3                1         Urban
4                1         Urban
5                1         Urban
6                1         Urban
7                1     Semiurban
8                0         Urban
9                0         Urban
10               1     Semiurban
11               1         Rural
12               1         Rural
13               1         Rural
14               1         Rural
15               0         Urban
16               0         Rural
17               1         Urban
18               1         Urban
19               1         Urban
20               1         Rural
21               1     Semiurban
22               1         Urban
23               1     Semiurban

# Imputing missing values in Categorical features

In [79]:
My_dataset["Education"].fillna("Graduate", inplace = True) 
print(My_dataset)

    Gender Married      Time  Dependents     Education Self_Employed  \
0     Male      No   4:20 AM           0      Graduate            No
1     Male     Yes   4:21 AM           1      Graduate            No
2     Male     Yes   3:20 AM           0      Graduate            No
3     Male     Yes   4:20 AM           2      Graduate            No
4     Male     Yes   5:20 AM           0      Graduate            No
5     Male     Yes   6:20 AM           3      Graduate            No
6     Male     Yes   7:20 AM           0      Graduate            No
7     Male     Yes   8:20 AM           2  Not Graduate            No
8     Male      No   9:20 AM           0  Not Graduate            No
9     Male     Yes  10:20 AM           0  Not Graduate            No
10    Male     Yes  11:20 AM           0      Graduate            No
11    Male     Yes  12:20 PM           2      Graduate            No
12    Male      No  13:20 PM           2      Graduate            No
13    Male     Yes  14:20 PM           0      Graduate            No
14  Female      No  16:20 PM           0      Graduate            No
15    Male     Yes   4:20 PM           2      Graduate            No
16    Male     Yes  17:20 PM           0      Graduate            No
17    Male     Yes  18:20 PM           1      Graduate            No
18    Male     Yes  17:20 PM           2      Graduate           Yes
19    Male     Yes  15:20 PM           1  Not Graduate            No
20    Male     Yes  20:20 PM           0      Graduate            No
21    Male     Yes  22:20 PM           2      Graduate            No
22    Male     Yes  20:20 PM           1      Graduate           Yes
23  Female     Yes  23:20 PM           0      Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0       4950.000000           0.000000         125        360.000000
1       2882.000000        1843.000000         123        480.000000
2       3000.000000        3416.000000          56        180.000000
3       9703.000000           0.000000         112        360.000000
4       4542.826087        2417.000000         136        360.000000
5       5250.000000           0.000000          94        360.000000
6       4333.000000        2451.000000         110        360.000000
7       6125.000000        1625.000000         187        480.000000
8       2333.000000        1451.000000         102        328.571429
9       1800.000000        2934.000000          93        328.571429
10      3500.000000        1667.000000         114        328.571429
11      8333.000000        3167.000000         165        360.000000
12      4354.000000           0.000000         136        360.000000
13      9328.000000           0.000000         188        180.000000
14      7200.000000           0.000000         120        360.000000
15      3800.000000        3600.000000         216        360.000000
16      3593.000000        4266.000000         132        180.000000
17      3417.000000        2099.652174         186        360.000000
18      3316.000000        3500.000000          88        360.000000
19      3399.000000        1640.000000         111        180.000000
20      2439.000000        3333.000000         129        360.000000
21      6250.000000        5654.000000         188        180.000000
22      1000.000000        3022.000000         110        360.000000
23      4180.000000        2306.000000         182        360.000000

    Credit_History Property_Area
0                1         Urban
1                1     Semiurban
2                1     Semiurban
3                1         Urban
4                1         Urban
5                1         Urban
6                1         Urban
7                1     Semiurban
8                0         Urban
9                0         Urban
10               1     Semiurban
11               1         Rural
12               1         Rural
13               1         Rural
14               1         Rural
15               0         Urban
16               0         Rural
17               1         Urban
18               1         Urban
19               1         Urban
20               1         Rural
21               1     Semiurban
22               1         Urban
23               1     Semiurban

# Normalizing features using Min-Max in Scikit Learn¶

In [81]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

min_max=MinMaxScaler()

# normalize all int features
col=My_dataset.columns[My_dataset.dtypes =='int64']
for i in col:
    x = My_dataset[i]
    y = np.array(x).reshape(-1,1)
    My_dataset[i] = min_max.fit_transform(y)

# normalize all float features    
col=My_dataset.columns[My_dataset.dtypes =='float64']
for i in col:
    x = My_dataset[i]
    y = np.array(x).reshape(-1,1)
    My_dataset[i] = min_max.fit_transform(y)  
    
print(My_dataset)

    Gender Married      Time  Dependents     Education Self_Employed  \
0     Male      No   4:20 AM    0.000000      Graduate            No
1     Male     Yes   4:21 AM    0.333333      Graduate            No
2     Male     Yes   3:20 AM    0.000000      Graduate            No
3     Male     Yes   4:20 AM    0.666667      Graduate            No
4     Male     Yes   5:20 AM    0.000000      Graduate            No
5     Male     Yes   6:20 AM    1.000000      Graduate            No
6     Male     Yes   7:20 AM    0.000000      Graduate            No
7     Male     Yes   8:20 AM    0.666667  Not Graduate            No
8     Male      No   9:20 AM    0.000000  Not Graduate            No
9     Male     Yes  10:20 AM    0.000000  Not Graduate            No
10    Male     Yes  11:20 AM    0.000000      Graduate            No
11    Male     Yes  12:20 PM    0.666667      Graduate            No
12    Male      No  13:20 PM    0.666667      Graduate            No
13    Male     Yes  14:20 PM    0.000000      Graduate            No
14  Female      No  16:20 PM    0.000000      Graduate            No
15    Male     Yes   4:20 PM    0.666667      Graduate            No
16    Male     Yes  17:20 PM    0.000000      Graduate            No
17    Male     Yes  18:20 PM    0.333333      Graduate            No
18    Male     Yes  17:20 PM    0.666667      Graduate           Yes
19    Male     Yes  15:20 PM    0.333333  Not Graduate            No
20    Male     Yes  20:20 PM    0.000000      Graduate            No
21    Male     Yes  22:20 PM    0.666667      Graduate            No
22    Male     Yes  20:20 PM    0.333333      Graduate           Yes
23  Female     Yes  23:20 PM    0.000000      Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0          0.453866           0.000000     0.43125          0.600000
1          0.216247           0.325964     0.41875          1.000000
2          0.229806           0.604174     0.00000          0.000000
3          1.000000           0.000000     0.35000          0.600000
4          0.407081           0.427485     0.50000          0.600000
5          0.488337           0.000000     0.23750          0.600000
6          0.382971           0.433498     0.33750          0.600000
7          0.588877           0.287407     0.81875          1.000000
8          0.153166           0.256632     0.28750          0.495238
9          0.091922           0.518925     0.23125          0.495238
10         0.287257           0.294836     0.36250          0.495238
11         0.842583           0.560134     0.68125          0.600000
12         0.385384           0.000000     0.50000          0.600000
13         0.956911           0.000000     0.82500          0.000000
14         0.712398           0.000000     0.40000          0.600000
15         0.321728           0.636717     1.00000          0.600000
16         0.297943           0.754510     0.47500          0.000000
17         0.277720           0.371357     0.81250          0.600000
18         0.266115           0.619031     0.20000          0.600000
19         0.275652           0.290060     0.34375          0.000000
20         0.165345           0.589494     0.45625          0.600000
21         0.603240           1.000000     0.82500          0.000000
22         0.000000           0.534489     0.33750          0.600000
23         0.365391           0.407853     0.78750          0.600000

    Credit_History Property_Area
0              1.0         Urban
1              1.0     Semiurban
2              1.0     Semiurban
3              1.0         Urban
4              1.0         Urban
5              1.0         Urban
6              1.0         Urban
7              1.0     Semiurban
8              0.0         Urban
9              0.0         Urban
10             1.0     Semiurban
11             1.0         Rural
12             1.0         Rural
13             1.0         Rural
14             1.0         Rural
15             0.0         Urban
16             0.0         Rural
17             1.0         Urban
18             1.0         Urban
19             1.0         Urban
20             1.0         Rural
21             1.0     Semiurban
22             1.0         Urban
23             1.0     Semiurban

# Preprocessing special features

In [85]:
My_dataset = pd.read_csv('Dataset.csv')
bad_chars = ['AM', 'PM'] 

My_dataset['Time'] = My_dataset['Time'].str.replace(' AM', '')
My_dataset['Time'] = My_dataset['Time'].str.replace(' PM', '')
My_dataset['Time'] = My_dataset['Time'].str.replace(':', '')





My_dataset['Time'] = My_dataset['Time'].astype(int)

# Binning data. values in 5 bins


bins = [0, 500, 1200, 1600, 2000, 5000]


labels = ['early moring', 'Morning', 'afternoon', 'eve', 'late eve']


My_dataset['Time']= pd.cut(My_dataset['Time'], bins=bins, labels=labels)

print(My_dataset)

    Gender Married          Time  Dependents     Education Self_Employed  \
0     Male      No  early moring           0      Graduate            No
1     Male     Yes  early moring           1      Graduate            No
2     Male     Yes  early moring           0      Graduate            No
3     Male     Yes  early moring           2      Graduate            No
4     Male     Yes       Morning           0           NaN            No
5     Male     Yes       Morning           3      Graduate            No
6     Male     Yes       Morning           0      Graduate            No
7     Male     Yes       Morning           2  Not Graduate            No
8     Male      No       Morning           0  Not Graduate            No
9     Male     Yes       Morning           0  Not Graduate            No
10    Male     Yes       Morning           0      Graduate            No
11    Male     Yes     afternoon           2      Graduate            No
12    Male      No     afternoon           2      Graduate            No
13    Male     Yes     afternoon           0      Graduate            No
14  Female      No           eve           0      Graduate            No
15    Male     Yes  early moring           2      Graduate            No
16    Male     Yes           eve           0      Graduate            No
17    Male     Yes           eve           1      Graduate            No
18    Male     Yes           eve           2      Graduate           Yes
19    Male     Yes     afternoon           1  Not Graduate            No
20    Male     Yes      late eve           0      Graduate            No
21    Male     Yes      late eve           2      Graduate            No
22    Male     Yes      late eve           1      Graduate           Yes
23  Female     Yes      late eve           0      Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0            4950.0                0.0         125             360.0
1            2882.0             1843.0         123             480.0
2            3000.0             3416.0          56             180.0
3            9703.0                0.0         112             360.0
4               NaN             2417.0         136             360.0
5            5250.0                0.0          94             360.0
6            4333.0             2451.0         110             360.0
7            6125.0             1625.0         187             480.0
8            2333.0             1451.0         102               NaN
9            1800.0             2934.0          93               NaN
10           3500.0             1667.0         114               NaN
11           8333.0             3167.0         165             360.0
12           4354.0                0.0         136             360.0
13           9328.0                0.0         188             180.0
14           7200.0                0.0         120             360.0
15           3800.0             3600.0         216             360.0
16           3593.0             4266.0         132             180.0
17           3417.0                NaN         186             360.0
18           3316.0             3500.0          88             360.0
19           3399.0             1640.0         111             180.0
20           2439.0             3333.0         129             360.0
21           6250.0             5654.0         188             180.0
22           1000.0             3022.0         110             360.0
23           4180.0             2306.0         182             360.0

    Credit_History Property_Area
0                1         Urban
1                1     Semiurban
2                1     Semiurban
3                1         Urban
4                1         Urban
5                1         Urban
6                1         Urban
7                1     Semiurban
8                0         Urban
9                0         Urban
10               1     Semiurban
11               1         Rural
12               1         Rural
13               1         Rural
14               1         Rural
15               0         Urban
16               0         Rural
17               1         Urban
18               1         Urban
19               1         Urban
20               1         Rural
21               1     Semiurban
22               1         Urban
23               1     Semiurban

# Requirements to use Scikit learn for supervised modeling

1. The data set is divided into two sets, i.e., indicator set and target set
2. The both the sets should be numeric in nature. So if few attributes are in categorical in nature, it is 
important to convert them in numerical. 
3. The both the sets should have a specific shape. As an eg. if data set is (100 x 10) where 10 features
inclused one target feature then, size of indicator 
set will be (100 x 9) and size of target set will be (100 x 1).

# Converting selected features into numerical using LabelEncoder

In [86]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
My_dataset['Married'] = labelencoder.fit_transform(My_dataset['Married'])

In [87]:
print(My_dataset['Married'])

0     0
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     0
9     1
10    1
11    1
12    0
13    1
14    0
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
Name: Married, dtype: int64